<div class="row">
  <div class="col-xs-3 col-lg-2">
    <div class="panel panel-default side-bar">
      <div class="panel-body">
        <span class="glyphicon glyphicon-th" aria-hidden="true"></span>&nbsp;<%= link_to 'Dashboard', @application %>
      </div>
      <div class="panel-body">
        <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>&nbsp;<%= link_to 'Charts', href: '#' %>
      </div>
    </div>
  </div>

  <div class="col-xs-9 col-lg-10">
    <h2><%= @application.url %></h2>
    <hr/>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Users Chart</h3>
      </div>
      <div class="panel-body">
        <h3>Graph here</h3>
      </div>
    </div>

    <div class="col-lg-3 col-md-6">
      <div class="panel panel-primary show-panel">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-3">
              <span class="glyphicon glyphicon-user btn btn-primary btn-lg" aria-hidden="true"></span>
            </div>
            <div class="col-xs-9 text-right">
              <div>
                <h3>
                  <%= @application.users_count %>
                </h3>
              </div>
              <div><h4>User Visits</h4>

              </div>
            </div>
          </div>
          <div class="panel-footer">
            <span class="pull-left">View Details</span>
            <span class="pull-right glyphicon glyphicon-menu-right" aria-hidden="true"></span>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6">
      <div class="panel panel-primary show-panel">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-3">
              <span class="glyphicon glyphicon-send btn btn-primary btn-lg" aria-hidden="true"></span>
            </div>
            <div class="col-xs-9 text-right">
              <div>
                <h3>
                  <%= @application.page_visit_count %>
                </h3>
              </div>
              <div><h4>Page Visits</h4></div>
            </div>
          </div>
          <div class="panel-footer">
            <span class="pull-left">View Details</span>
            <span class="pull-right glyphicon glyphicon-menu-right" aria-hidden="true"></span>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
